name: RATP_Monitor_Cron

# on:
#   schedule:
#     # Les heures sont en UTC (France = UTC+1 en hiver, UTC+2 en été)
#     # 07:00 UTC = 08:00 à Paris (Hiver)
#     - cron: '58 6 * * 1-5'
#     # 16:50 UTC = 17:50 à Paris (Hiver)
#     - cron: '53 16 * * 1-5'
#   workflow_dispatch: # Permet de lancer le script manuellement pour tester

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Python script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          API_KEY_IDFM: ${{ secrets.API_KEY_IDFM }}
        run: python main.py
